body {
  background: url(images/abstract1.png);
  overflow-x: hidden;
}
body,
button {
  margin: 0;
  font-family: "K2D", sans-serif;
}
h1 {
  font-size: 9vw;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2vw;
  color: slategray;
}
p {
  font-size: 3vmin;
}
blockquote {
  font-size: 3vmin;
  font-style: italic;
}

h2,
h3 {
  text-align: left;
}
h1,
.header h2 {
  text-align: center;
}

.container {
  padding: 1.5vw 4.5vw 5vw 4.5vw;
  width: 90vw;
}

#header {
  background: url("images/header.jpg") no-repeat center;
  background-position: 50% 40%;
  width: 100vw;
  height: 58vw;
  background-size: cover;
}

.header {
  color: rgb(228, 226, 226);
  padding-top: 25vw;
}
.header h1,
.header h2 {
  font-weight: 300;
}

.about,
.book,
.game-flex {
  display: flex;
}
.flex-text {
  padding: 0 3vw;
  flex-basis: 68%;
}
.flex-image {
  align-self: flex-start;
  padding-top: 15vh;
}
.flex-image img {
  object-fit: cover;
  height: auto;
  width: 20vw;
}

.book .flex-image {
  order: -1;
  padding: 6vh 3vw 1vh 3vw;
  width: 20vw;
}

#books:after,
#about:after {
  content: "";
  position: absolute;
  width: 70vw;
  margin: 0 15vw;
  border-bottom: 2px solid grey;
}

.game {
  max-width: 300px;
  padding: 0 2vw;
}
.game h2 {
  height: 4vw;
  font-size: 2.3vw;
  margin: 0 0 5vw 0;
  text-align: center;
}
.game p {
  text-align: center;
}
.game img {
  object-fit: cover;
  width: 26vw;
  height: 30vw;
  max-width: 300px;
  max-height: 346px;
}
.game-flex {
  justify-content: center;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
  position: relative;
  width: 38%;
  margin: 2vh 0 0 30%;
  font-size: 2vh;
  padding: 4px;
}
button:hover {
  border: 1px solid grey;
  font-weight: bold;
}
.social {
  display: flex;
  justify-content: center;
}
.icon {
  max-width: 40px;
  max-height: 40px;
  width: 10vw;
  height: 10vw;
}
.facebook {
  background: url("images/fb.jpg") no-repeat center;
  background-size: cover;
}
.twitter {
  background: url("images/twitter.jpg") no-repeat center;
  background-size: cover;
  margin-left: 6vh;
}
.footer {
  text-align: center;
}
a {
  color: #000;
}

/* Responsiveness */
@media only screen and (max-width: 500px) {
  .about,
  .book {
    flex-direction: column;
  }
  .game-flex {
    flex-wrap: wrap;
  }
  .flex-image {
    align-self: center;
    padding-top: 0;
  }
  .book .flex-image {
    order: 0;
    width: 50vw;
  }
  .flex-image img {
    width: 50vw;
  }
  button {
    width: 60%;
    margin: 1vh 0 0 19%;
    border: 1px solid grey;
    font-weight: bold;
  }
  .game h2 {
    height: 4vw;
  }
  .game:nth-child(2) h2 {
    height: 12vw;
  }
  .game img {
    width: 52vw;
  }
  .game p {
    margin: 0 auto 5vh;
  }
  .header {
    padding-top: 18vw;
  }
  p,
  blockquote,
  button {
    font-size: 4.5vw;
  }
  h2 {
    font-size: 6vw !important;
  }
  h3 {
    font-size: 5.5vw;
  }
  .footer .container {
    padding: 12vw 4.5vw 5vw 4.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  p,
  blockquote {
    font-size: 20px;
  }
  h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 36px !important;
  }
  h3 {
    font-size: 32px;
  }
  .container {
    width: 80vw;
    margin: auto;
    max-width: 1100px;
  }
}
